.button--switch {
  width: 70px;
  height: 70px;
  margin-bottom: 2rem;
}
.button--switch:hover::after {
  box-shadow: 3px 3px, 6px 3px, 9px 3px, 12px 3px, 15px 3px, 18px 3px, 21px 3px,
    3px 6px, 6px 6px, 9px 6px, 12px 6px, 15px 6px, 18px 6px, 21px 6px, 6px 9px,
    9px 9px, 12px 9px, 15px 9px, 18px 9px, 6px 12px, 9px 12px, 12px 12px,
    15px 12px, 18px 12px, 9px 15px, 12px 15px, 15px 15px, 12px 18px !important;
}

.button--switch::before {
  width: 3px;
  height: 3px;
  color: #212529;
  box-shadow: 3px 3px, 6px 3px, 9px 3px, 12px 3px, 15px 3px, 18px 3px, 21px 3px,
    3px 6px, 6px 6px, 9px 6px, 12px 6px, 15px 6px, 18px 6px, 21px 6px, 6px 9px,
    9px 9px, 12px 9px, 15px 9px, 18px 9px, 6px 12px, 9px 12px, 12px 12px,
    15px 12px, 18px 12px, 9px 15px, 12px 15px, 15px 15px, 12px 18px;
  position: absolute;
  pointer-events: none;
  content: '';
  bottom: 10%;
  transform: rotate(180deg);
  right: 10%;
}

.button--switch::after {
  width: 3px;
  height: 3px;
  color: #212529;
  box-shadow: 3px 3px, 6px 3px, 9px 3px, 12px 3px, 15px 3px, 18px 3px, 21px 3px,
    3px 6px, 6px 6px, 9px 6px, 12px 6px, 15px 6px, 18px 6px, 21px 6px, 6px 9px,
    9px 9px, 12px 9px, 15px 9px, 18px 9px, 6px 12px, 9px 12px, 12px 12px,
    15px 12px, 18px 12px, 9px 15px, 12px 15px, 15px 15px, 12px 18px;
  position: absolute;
  right: 36px;
  pointer-events: none;
  content: '';
  top: 10%;
  left: 10%;
}
.button--switch:focus {
  box-shadow: none;
}

.button--measure-type {
  margin-bottom: 2rem;
  width: 200px;
}

.button--measure-type-focus {
  background-color: #9c9c9c;
  box-shadow: 0 0 0 6px rgb(173 175 188 / 30%);
}

@media (min-width: 1000px) {
  .button--measure-type {
    margin: 0 0.5rem 2rem;
  }
  .button--switch {
    width: 60px;
    height: 60px;
  }
  .button--switch::before {
    transform: rotate(90deg);
    top: 10%;
  }
  .button--switch::after {
    transform: rotate(-90deg);
    top: 80%;
  }
}
