.nes-container.is-dark > .title--unit-converter.title {
  background-color: #030b5b;
  font-size: 1.4rem;
  margin-top: -37px;
  margin-bottom: 4rem;
}

@media (min-width: 1000px) {
  .nes-container.is-dark > .title--unit-converter.title {
    font-size: 2.5rem;
  }
}
