.nes-container.is-dark > .title--unit-converter.title {
  background-color: #030b5b;
  font-size: 1.4rem;
}

@media (min-width: 1000px) {
  .nes-container.is-dark > .title--unit-converter.title {
    font-size: 1.5rem;
  }
}
